.Ships{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #515151;
  padding: 8px;
  border-radius: 10px;
  align-content: space-around;
}
header{
  padding: .5px;
  text-align: center;
  background: #6C5B7B;
  color: black;
  font-size: 17px;
}

