body {
    display: flex;
}
div {
    background-color: lightgray;
    height: 100vh;
}
.AllContent{
    display: flex;
    justify-content: space-between;
}
.Reviews {
    background-color: darkgray;
    
    
}
.AverageRating {
    background-color: darkgray;
}
.Sentiment {
    background-color: darkgray;
}
