<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter New Pokemon</title>
</head>
<body>
    <h1>Enter Info Here</h1>
    <form action="/pokemon" method="POST">
        <input type="text" name="name" placeholder="Name"></br>
        <input type="text" name="attack" placeholder="Attack"></br>
        <input type="text" name="defense" placeholder="Defense"></br>
        <input type="text" name="spattack" placeholder="spAttack"></br>
        <input type="text" name="spdefense" placeholder="spDefense"></br>
        <input type="text" name="speed" placeholder="Speed"></br>
        <input type="submit" value="Add Pokemon">
    </form>
    <a href="/pokemon"><button>Back To Main Page</button></a> 
</body>
</html>